<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>C6C0E8CA-4D23-454F-86C5-FF19EA055DCD</string>
	<key>title</key>
	<string>Teal</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
